body > a{float:right;
text-decoration:none;
 }
 a:hover{color:#FF00FC;}

 img#publicidad1{float:left;}
 img#publicidad2{float:right;
 	margin-top:330px;
 	margin-right:90px;
 }
 a#blusa{float:right;
 	margin-top:150px;
 	margin-right:-70px;
 	text-decoration:none;
 	font-size:26px;
 	 }

 a#licra{float:right;
 	margin-top:150px;
 	margin-right:-300px;
 	text-decoration:none;
 	font-size:26px;
 	 }



 a#tenis{float:right;
 	margin-top:150px;
 	margin-right:-600px;
 	text-decoration:none;
 	font-size:26px;
 	
 }
 