a#inicio{float:right;
	margin-right:18px;
text-decoration:none;
}

a#iniciomujer{float:right;
	margin-right:10px;
text-decoration:none;
}
a:hover{color:#FF00EB}

img#publicidad1{float:left;}

img#blusa1{float:left;
margin-top:200px;
margin-left:-200px;
}
img#blusa2{float:left;
margin-top:100px;
margin-left:310px;
}
img#blusa3{float:right;
margin-top:300px;
margin-right:-00px;
}

ul#lista1{float:left;
margin-top:550px;
margin-left:-720px;
font-size:25px;
}
ul#lista2{float:left;
margin-top:100px;
margin-left:200px;
font-size:25px;
}
ul#lista3{float:left;
margin-top:100px;
margin-left:700px;
font-size:25px;
}

a#compra1{float:left;
margin-top:140px;
margin-left:-1150px;
text-decoration:none;

}

a#compra2{float:left;
margin-top:-210px;
margin-left:650px;
text-decoration:none;

}

a#compra3{float:left;
margin-top:-10px;
margin-left:1100px;
text-decoration:none;

}